.Introduction {
    width: 100%;

    &__decor {
        img {
            max-height: 400px;

            @media(max-width: 800px) {
                max-height: 200px;
            }
        }
    }

    &_roadmap {
        &_list {
            width: 100%;
            display: flex;
            align-items: center;
            margin-top: 32px;
            position: relative;
        }

        &_element {
            min-width: 25%;
            align-items: center;
            flex-wrap: wrap;
            display: flex;
            gap: 80px;

            @media(max-width: 700px) {
                min-width: 100%;
            }

            &:not(:last-child) {
                border-right: 2px solid #fff4;
            }

            &_num {
                width: 100%;
                font-family: "ClashDisplay";
                text-align: center;
                font-size: 36px;
            }

            &_arrow {
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            &_info {
                width: 100%;
            }

            &_time {
                font-size: 8px;
                width: 100%;
                text-align: center;
                font-family: "ClashDisplay";
                color: #fff8;
            }

            &_event {
                font-size: 14px;
                margin-top: 6px;
                width: 100%;
                text-align: center;
                font-family: "ClashDisplay";
                color: #fff;
            }
        }
    }

    &_block {
        width: 100%;
        max-width: 1600px;
        display: flex;
        flex-wrap: wrap;
        margin: 0 auto;
        justify-content: center;
        align-items: center;
        align-content: center;
        min-height: 100vh;
        padding: 30px 0px;

        &_large {
            height: 200vh;

            @media(max-width: 700px) {
                height: 400vh;
            }
        }

        @media screen and (min-width: 769px) {
            margin-top: 93px;
        }
    }

    &__title {
        color: linear-gradient(to bottom, #FFFFFF 0%, #F8F8F8 44%, #999999 100%);
        width: 100%;
        text-align: center;
        font-family: "ClashDisplayMedium";
        font-size: 62px;

        @media(min-width: 1900px) {
            font-size: 78px;
        }
    }

    &__description {
        width: 100%;
        color: #8B8B8B;
        text-align: center;
        font-family: "SFPro";
        font-size: 14px;
        max-width: 700px;
        margin-top: 12px;

        @media(min-width: 1900px) {
            font-size: 24px;
        }
    }

    &__join {
        margin-top: 35px;
        width: 100%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        // align-items: center;
        gap: 15px;

        // &-title {
        //     width: 100%;
        //     text-align: center;
        //     font-family: "SFPro";
        //     font-size: 13px;

        //     @media(min-width: 1900px) {
        //         font-size: 24px;
        //     }
        // }

        // &-input {
        //     width: 100%;
        //     display: flex;
        //     justify-content: center;
        //     align-items: center;
        //     flex-direction: column;

        //     input {
        //         backdrop-filter: blur(10px);
        //         outline: none;
        //         border: 1px solid rgba($color: #FFFFFF, $alpha: .2);
        //         background-color: rgba($color: #D9D9D9, $alpha: .02);
        //         width: 300px;
        //         height: 43px;
        //         border-radius: 57px;
        //         padding: 14px 0px 14px 21px;
        //         color: white;
        //         font-family: "Helvetica";
        //         font-size: 12px;

        //         @media(min-width: 1900px) {
        //             width: 500px;
        //             height: 70px;
        //             font-size: 22px;
        //         }

        //         &::placeholder {
        //             color: white;
        //             font-family: "Helvetica";
        //             font-size: 12px;

        //             @media(min-width: 1900px) {
        //                 font-size: 22px;
        //             }
        //         }
        //     }

        //     button {
        //         position: relative;
        //         width: 82px;
        //         height: 28px;
        //         border-radius: 113px;
        //         color: black;
        //         display: flex;
        //         justify-content: space-between;
        //         align-items: center;
        //         font-size: 9px;
        //         font-family: "Helvetica";
        //         padding-left: 10px;
        //         padding-right: 10px;
        //         transition: all 300ms ease-in-out;
        //         bottom: 36px;
        //         left: 100px;

        //         @media(min-width: 1900px) {
        //             bottom: 55px;
        //             left: 180px;
        //             width: 100px;
        //             height: 40px;
        //             font-size: 12px;
        //         }

        //         img {
        //             width: 22px;
        //             height: 22px;
        //             transition: filter 300ms;

        //             @media(min-width: 1900px) {
        //                 width: 35px;
        //                 height: 35px;
        //             }
        //         }

        //         &:hover {
        //             color: white;
        //             background-color: black;

        //             img {
        //                 filter: invert(1);
        //             }
        //         }
        //     }
        // }
    }
}

.introduction {
    margin-top: 93px;
}