.Header {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
    position: relative;
    z-index: 9999;
    padding: 0px 35px;
    padding-top: 35px;
    height: 70px;
    position: fixed;

    @media(min-width: 1930px) {
        height: 59px;
    }

    @media(max-width: 1150px) {
        height: 55px;
        padding: 0px 20px;
        padding-top: 20px;
    }

    &_links {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 40px;
        z-index: 99999;
        pointer-events: none;

        @media(max-width: 1500px) {
            left: -100px;
        }

        @media(max-width: 1150px) {
            z-index: 997;
            position: fixed;
            min-height: 100vh;
            max-height: 100vh;
            min-width: 100vw;
            max-width: 100vw;
            top: 0px;
            left: 0px;
            background: linear-gradient(to right, #000, #0000);
            backdrop-filter: blur(5px);
            flex-wrap: wrap;
            align-items: start;
            justify-content: left;
            padding: 80px 20px;
            transform: translate(-100vw, 0px);
            transition: transform 500ms ease-in-out;
        }

        &_open {
            @media(max-width: 1150px) {
                transform: translate(0vw, 0px);
            }
        }
    }

    @media (max-width: 1150px) {
        margin-top: 0px;
    }

    &__item {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 24px;
        pointer-events: all;


        &-logo {
            text-transform: uppercase;
            // font-family: "ClashDisplayMedium";
            // font-size: 11px;
            // font-weight: 500;
            // cursor: pointer;

            // @media(min-width: 1930px) {
            //     font-size: 18px;
            // }
        }

        &-logoimg {
            width: 18px;
            cursor: pointer;

            @media(min-width: 1930px) {
                width: 32px;
            }
        }

        &-logoLink {

            align-items: center;
            display: flex !important;
            column-gap: 8px;
        }

        &-navigation {
            gap: 30px;



            @media(max-width: 1300px) {
                gap: 12px;
            }

            @media(max-width: 1150px) {
                flex-wrap: wrap;
            }
        }

        &-burger {
            display: none;

            @media (max-width: 1150px) {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 30px;
                height: 20px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                cursor: pointer;
                position: relative;
                z-index: 10;
                align-items: end;

                span {
                    display: block;
                    height: 2px;
                    width: 100%;
                    background: white;
                    transition: 0.3s;
                }
            }
        }

        &-burger.active span:nth-child(2) {
            opacity: 0;
        }

        &-burger.active span:nth-child(3) {
            transform: translateY(-9px) rotate(-45deg);
        }

        &-burger.active span:nth-child(1) {
            transform: translateY(9px) rotate(45deg);
        }

        &-nav {
            text-shadow: 0px 0px 4px #000;
            transition: transform 200ms;

            @media(max-width: 1150px) {
                width: 100%;
            }

            @media(min-width: 1930px) {
                font-size: 24px;
            }

            &:hover {
                transform: scale(1.1);
            }
        }


        &-ds {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 8px;

            a {
                display: flex;
                justify-content: center;
                align-items: center;
            }

            &-a {
                // font-family: "SFPro";
                // font-size: 12px;
                // font-weight: 500;

                @media (max-width: 1150px) {
                    display: none !important;
                }

                // @media(min-width: 1930px) {
                //     font-size: 18px;
                // }
            }

            img {
                width: 17px;

                @media(min-width: 1930px) {
                    width: 24px;
                }
            }
        }

        &-id {
            background-color: transparent;
            // font-family: "Inter";
            padding: 7px 20px 7px 20px;
            border-radius: 50px;
            border: 1px solid rgba(255, 255, 255, 0.2);
            background: linear-gradient(to right, rgba(255, 255, 255, 0.3) 30%, #FFFFFF99 100%);
            background-size: 200% 200%;
            background-position: 0% 0%;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            transition: all 0.3s ease-in-out;

            @media(max-width: 400px) {
                span {
                    display: none;
                }
            }

            // @media(min-width: 1930px) {
            //     font-size: 18px;
            // }

            // @media (max-width: 400px) {
            //     font-size: 12px;
            // }

            &:hover {
                // transform: scale(1.05);
                border-color: rgba(255, 255, 255, 0.4);
                box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
                background-position: 100% 100%;
            }
        }

    }
}