.Forgot {
    width: 100%;
    display: flex;
    margin: 0 auto;
    padding: 0px 30px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: space-between;
    max-width: 1600px;
    min-height: calc(100dvh - 88px);

    @media (max-width: 900px) {
        flex-direction: column;
        align-content: center;
    }

    &_balancer,
    &_content,
    &__footer {
        width: 100%;
    }

    &_content {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    &__title {
        font-family: "ClashDisplayMedium";
        font-size: 45px;
        text-align: center;
        color: white;

        @media (max-width: 900px) {
            width: 500px;
        }

        @media (max-width: 500px) {
            font-size: 35px;
            width: 350px;
        }

        @media (max-width: 360px) {
            width: 300px;
            font-size: 32px;
        }
    }

    &__description {
        color: #8B8B8B;
        font-family: "SFPro";
        font-size: 12px;
        max-width: 365px;
        text-align: center;
        margin-top: 5px;
        margin-bottom: 30px;

        @media(min-width: 1930px) {
            font-size: 18px;
        }
    }

    &__form {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 70%;
        gap: 20px;

        @media (max-width: 900px) {
            width: 100%;
        }

        a {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 430px;
            font-family: "ClashDisplay";
            padding: 14px 0 14px 0;
            background-color: #7177FF;
            font-size: 15px;
            font-weight: 400;
            margin-top: 31px;

            @media (max-width: 900px) {
                width: 100%;
            }

            @media(min-width: 1930px) {
                font-size: 20px;
            }
        }
    }

    &__footer {
        margin-top: 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 70px;
        padding-bottom: 30px;

        @media(max-height: 750px) {
            padding-top: 0px;
        }

        @media (max-width: 900px) {
            width: 300px;
            flex-direction: column;
        }

        a {
            font-family: "Helvetica";
            font-size: 15px;
            font-weight: 300;
            color: rgba($color: #ffffff, $alpha: 0.5);

            @media(min-width: 1930px) {
                font-size: 18px;
            }
        }
    }
}