@font-face {
    font-family: "ClashDisplay";
    src: url('/fonts/ClashDisplay-Variable.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "ClashDisplayMedium";
    src: url('/fonts/ClashDisplay-Medium.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "SFPro";
    src: url('/fonts/SF-Pro-Display-Regular.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Inter";
    src: url('/fonts/Inter-VariableFont_opsz,wght.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Helvetica";
    src: url('/fonts/helvetica_regular.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "SofiaSans";
    src: url('/fonts/SofiaSans.ttf');
    font-weight: normal;
    font-style: normal;
}