.Wallet {
    width: 100%;
    margin: 0 auto;
    max-width: 1600px;
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 50px;

    @media (max-width: 900px) {
        flex-direction: column;
        width: 100%;
        padding: 50px 20px 0px 20px;
        gap: 34px;
    }

    &__chat {
        width: 30%;
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        height: 700px;
        flex-wrap: wrap;

        @media(max-height: 900px) {
            padding-top: 100px;
        }

        @media (max-width: 900px) {
            order: 2;

        }

        &_el {
            width: 100% !important;

            img {
                width: 350px;
            }
        }

        &_cat {
            top: -150px;

            img {
                image-rendering: pixelated;
                width: 120px;
                cursor: pointer;
                transition: filter 200ms, scale 200ms;

                &:hover {
                    scale: 1.2;
                    filter: brightness(1.2)
                }
            }
        }

        &_msg {
            img {
                width: 300px;
            }
        }

        &_msg1 {
            top: 40px;
        }

        &_msg2 {
            top: 85px;
        }

        &_msg3 {
            top: 130px;
        }

        &_msg4 {
            top: 170px;
        }

        &_msg5 {
            top: 210px;
            left: 2px;
        }

    }

    &__description {
        width: 40%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        gap: 20px;

        @media (max-width: 900px) {
            order: 1;
            align-items: center;
            width: 100%;
        }

        @media (max-width: 500px) {
            align-items: flex-start;
        }

        &-title {
            font-family: "ClashDisplayMedium";
            font-size: 50px;
            line-height: 100%;
            text-align: left;
            max-width: 390px;
            min-height: 300px;
            display: flex;
            align-items: end;

            @media(min-width: 1930px) {
                max-width: 500px;
            }

            @media (max-width: 900px) {
                max-width: 100%;
                text-align: center;
            }

            @media (max-width: 500px) {
                text-align: left;
            }
        }

        &-description {
            color: #ACACAC;
            font-family: "Helvetica";
            line-height: 25px;
            font-size: 15px;
            max-width: 490px;

            @media(min-width: 1930px) {
                font-size: 20px;
            }

            @media (max-width: 900px) {
                text-align: center;
            }

            @media (max-width: 500px) {
                text-align: left;
            }
        }

        &-btn {
            margin-top: 10px;
            width: 140px;
            height: 42px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-radius: 160px;
            padding: 13px 5px 13px 13px;
            transition: all 300ms ease-in-out;

            span {
                font-family: "Helvetica";
                transition: all 300ms ease-in-out;
                color: #000000;
                font-size: 12px;
            }

            @media(min-width: 1930px) {
                width: 200px;

                span {
                    font-size: 18px;
                }
            }

            img {
                transition: filter 300ms;
            }

            @media (max-width: 900px) {
                margin-bottom: 20px;
            }

            &:hover {
                background-color: #000000;

                span {
                    color: #FFFFFF;
                }

                img {
                    filter: invert(1);
                }
            }
        }
    }
}